body {
  background-color: #F9F9F9;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #F3F3F3;
  box-shadow: 2px 1px 1.5px #FF9393;
}

.navbar-brand {
  font-size: 20px;
  margin-right: 125px;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin: 0 15px;
}

#botaoadm {
  border-radius: 10px;
}

#admarea {
  color: #252525;
}

.btn {
  margin-left: 5px;
}

#ajuda {
  height: 225px;
  border-radius: 10px;
  background-color: #F8F9FA;
  border: 0.5px ridge hsl(0, 0%, 90%);
  box-shadow: 1px 2px 2px #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  color: #A93146;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.link:hover {
  color: #FF9393;
}

#fonte {
  font-family: 'Comic Sans MS', cursive;
  font-weight: semi-bold;
}

.box-search {
  display: flex;
  padding: 5px;
  justify-content: center;
}

.form-control {
  margin-left: 5px;
}

.accordion-header {
  color: white;
  background-color: #3F3F3F;
  border-radius: 1px;
  padding: 20px;
  box-shadow: 1px 1px 1px #252525;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accordion-header:hover {
  background-color: #252525;
}

.accordion-button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
}

.accordion-collapse {
  background-color: #F9F9F9;
  border: 1px solid #ddd;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  margin-top: -1px;
  box-shadow: 0px 2px 5px #ddd;
}

.accordion-body {
  margin-top: 10px;
}

footer {
  margin-top: 25vh;
  background-color: #f3f3f3;
  box-shadow: 10px 1px 3px black;
  color: #252525;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
